.list-item {
  font: italic 17px/26px "Old Standard TT", serif;
  color: #404040;
  text-align: center;
  margin: 0 0 40px;
}

.list-item h1 {
  display: inline-block;
  border-bottom: 2px solid #e2bb1b;
  font: 14px/16px "Montserrat", sans-serif;
  color: #404040;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 8px 8px 14px;
  margin: 25px 0 28px;
}

.list-item p {
  margin: 0;
}

.img-square {
  position: absolute;
  top: 0;
}

.img-square img {
  height: 253px;
}

.item-info {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: auto;

  height: 55px;
  overflow: hidden;

  border: 1px solid #e6e4e1;

  text-align: center;

  font: 10px/14px "Montserrat", sans-serif;
  color: #404040;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.item-title {
  margin-top: 7px;
  margin-bottom: 0;
}

.item-price {
  font-weight: bold;
}

.paginator {
  text-align: center;

  margin-top: 20px;
}

mat-grid-tile:hover {
  cursor: pointer;
}

mat-grid-tile:hover .item-info {
  cursor: pointer;

  background: #e2bb1b;
  border-color: #e2bb1b;
  color: #fff;
}
