.alert {
  margin-bottom: 0;
}

.code-input {
  width: 50%;
}

.form-content {
  margin-left: 30px;
  margin-top: 20px;
}

.label-item {
  background-color: #fff;
  height: 35px;
}

.form-action {
  background-color: #fff;
}

.action {
  margin-top: 10px;
}

.action:last-child {
  margin-bottom: 10px;
}
