<div class="form-content">
  <form (ngSubmit)="onSubmit()" *ngIf="signUpForm" [formGroup]="signUpForm" class="form-horizontal">

    <!-- Information of item selected (empty if add new item) -->
    <div class="col-sm-6">

      <!-- Name of country -->
      <div class="form-group">
        <label class="control-label col-sm-4 label-item">Name: *</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="name" required>
        </div>

        <!-- If name input not valid, display message error -->
        <div class="col-sm-8">
          <div *ngIf="signUpForm.controls.name.invalid && 
              (signUpForm.controls.name.dirty || signUpForm.controls.name.touched)" class="alert alert-danger">
            <div *ngIf="signUpForm.controls.name.errors.required">
              Name is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4 label-item">Email: *</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="email" required>
        </div>

        <!-- If name input not valid, display message error -->
        <div class="col-sm-8">
          <div *ngIf="signUpForm.controls.email.invalid && 
              (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)" class="alert alert-danger">
            <div *ngIf="signUpForm.controls.email.errors.required">
              Email is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4 label-item">Password: *</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" formControlName="pass" required>
        </div>

        <!-- If name input not valid, display message error -->
        <div class="col-sm-8">
          <div *ngIf="signUpForm.controls.pass.invalid && 
              (signUpForm.controls.pass.dirty || signUpForm.controls.pass.touched)" class="alert alert-danger">
            <div *ngIf="signUpForm.controls.pass.errors.required">
              Password is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- List actions -->
    <div class="col-sm-2 col-sm-offset-4 form-action">
      <button type="submit" class="btn btn-primary col-sm-12 action" [disabled]="!signUpForm.valid">Submit
      </button>
    </div>
  </form>
</div>