.booking-table {
  width: 100%;
  padding: 0 60px;
}

.booking-item {
  padding: 5px;
  border: 1px solid;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  max-width: 150px;
}

.del-btn {
  cursor: pointer;
  text-decoration: none;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}