.booking-table {
  width: 100%;
  padding: 0 60px;
}

.booking-item {
  padding: 5px;
  border: 1px solid;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  max-width: 150px;
}