.form-comtainer {
  margin-top: 50px;

  .add-building-form {
    margin: 0 auto;
    width: 35%;

    .add-btn {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }

  .form-field {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    .cus-form-label {
      flex-basis: 40%;
    }

    .form-control {
      flex-basis: 60%;

      padding: 10px;
      border: 1px solid gainsboro;
    }
  }

  .err-msg {
    color: red;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .read-only {
    background-color: gainsboro;
  }
}