#set( $inputValues = {} )
$util.qr($inputValues.put("buildingId", $ctx.args.input.buildingId))
$util.qr($inputValues.put("roomId", $ctx.args.input.roomId))
$util.qr($ctx.stash.put("input", $inputValues))
{}